@media (max-width: 760px) {
  .loginText {
    // border: 1px solid black;
    margin: 30px 10px;
    margin-top: 70px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    padding-left: 10px;
  }
}
@media (min-width: 761px) {
  .loginText {
    // border: 1px solid black;
    margin: 30px 10px;
    margin-top: 100px;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
  }
}
.page {
  background-color: #fafafa;
  padding-top: 60px;
  padding-bottom: 80px;
}
.section {
  background-color: white;
  border-radius: 5px;
  width: 400px;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.id,
.pw {
  border: 1px solid rgb(190, 188, 188);
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  width: 335px;
  height: 45px;
  padding-left: 15px;
  margin: 10px 5px;
}

.invalidInput {
  text-align: left;
  padding-left: 29px;
  font-size: 0.8rem;
  color: #ff2323;
}
.off {
  display: none;
}

.id:focus,
.pw:focus {
  outline: none !important;
  border-color: #00c7ae;
  box-shadow: 0 0 5px #00c7ae;
}
.invalid:focus {
  outline: none !important;
  border-color: #e9302a;
  box-shadow: 0 0 5px #e9302a;
}
.email,
.password {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  margin-left: 22px;
  margin-top: 20px;
}
.findPw {
  display: block;
  text-align: left;
  margin-top: 9px;
  margin-bottom: 20px;
  padding-left: 22px;
  font-size: 15px;
  color: rgb(85, 78, 78);
}
.loginBtn,
.kakaoBtn,
.facebookBtn {
  display: inline-block;
  border-radius: 4px;
  width: 340px;
  height: 45px;
  margin: auto;
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
}
.loginBtn {
  color: white;
  background-color: #00c7ae;
  border: white;
}
.kakaoBtn {
  background-color: #fee500;
  border: white;
  display: none;
}
.facebookBtn {
  color: white;
  background-color: #1876f1;
  border: white;
  display: none;
}
.goToSignUp {
  display: block;
  margin-top: 20px;
  padding-right: 10px;
  text-decoration: none;
  color: rgb(85, 78, 78);
}
