.container {
  width: 1000px;
  display: flex;
  justify-content: center;
  margin: 0px auto;
}
.box {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.wrap {
  margin: 5px;
  border-radius: 2%;
  width: 32%;
  height: 200px;
  box-shadow: 1px 1px 1px 1px #eaeaea;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}
.category_img {
  border-radius: 2%;
  width: 100%; /* width of container */
  object-fit: cover;
  position: relative;
}
.category_img2 {
  border-radius: 2%;
  width: 100%; /* width of container */
  object-fit: cover;
  position: relative;
  opacity: 0.5;
}

.category_text {
  background-color: white;
  position: absolute;
  bottom: -10px;
  z-index: 10;
  width: 100%;
  text-align: center;
  padding: 15px;
  padding-bottom: 30px;
}

@media (max-width: 760px) {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px auto;
  }

  .wrap {
    margin: 5px;
    border-radius: 2%;
    width: 90%;
    height: 200px;
    box-shadow: 1px 1px 1px 1px #eaeaea;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
  }
}

@media (min-width: 761px) and (max-width: 990px) {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px auto;
  }

  .wrap {
    margin: 5px;
    border-radius: 2%;
    width: 40%;
    height: 200px;
    box-shadow: 1px 1px 1px 1px #eaeaea;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
  }
}

@media (min-width: 991px) {
}
