@import '/src/styles/common.scss';

//Question
.questionBox {
  width: 100%;
  min-height: 1.5rem;
  color: rgb(77, 77, 77);
  border: 1px solid #fafafa;
  padding: 0.75rem 1rem;
}

.question {
  display: none;
  // padding: 0.625rem 0;
  // //padding-right: 5rem;
  // position: relative;

  // font-size: 1rem;
  // text-indent: 2.25rem;

  // cursor: pointer;
  // font-weight: 500;
}

.question + label {
  display: inline-block;
  margin-right: 0.5rem;
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: sub;
  background: #e1e1e1;
  position: relative;
  cursor: pointer;
}

.question:checked + label {
  background: $sign-color;
}

.checkInner {
  color: white;
  position: absolute;
  left: 0.2rem;
  top: 0rem;
}

// MasterSignUpNext main
.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fafafa;
  padding: 5rem 0;
}

.container {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  max-width: 37.5rem;
  margin: 3.125rem auto 7.6875rem;
  padding: 2.5rem;
  border-radius: 8px;
  border: 0.0625rem solid rgb(242, 242, 242);
  background: rgb(255, 255, 255);
}

.progressbar {
  display: block;
  width: 30rem;
  border: 1px solid black;
}

.formTitle {
  margin: 4.5rem 0;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(53, 27, 27);
  line-height: normal;
}
