p {
  font-family: 'Noto Sans KR', sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
h4 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

.imageHeader {
  padding: 10rem 0;
  background-image: url('../../../public/images/thump/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg');
  background-size: cover;
  .imageHeaderH2,
  .imageHeaderP {
    margin-left: 3rem;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-weight: bold;
  }
  .imageHeaderH2 {
    margin-bottom: 1rem;
  }
}

.categories {
  height: 9.5rem;
  background: #fafafa;
}

.categorytitle {
  text-align: center;
}

.statisticContainer {
  background: #f9f9f9;
  padding: 3.125rem 0;
  text-align: center;

  .statisticH2,
  .caption {
    font-weight: lighter;
    margin: 1.25rem 0;
    padding: 0 1.25rem;
  }

  .caption {
    color: #a2a2a2;
  }
}

.statisticWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.statics {
  margin: 1.5rem 0;
  font-size: 3.125rem;
  color: #00c7ae;
}

.Info {
  padding: 3.125rem 0;
}

.infoH2 {
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: -0.05625rem;
  text-align: center;
  color: #000;
  margin-bottom: 3.125rem;
}

.infoStage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.infoImg {
  width: 50%;
  height: 50%;
}

.infoCaption {
  width: 20rem;
  margin: 1rem;
  padding: 0.5rem;
  font-size: small;
  word-break: keep-all;
}

.infoStageH4 {
  font-size: 1.25rem;
  margin: 1.25rem 0;
  white-space: nowrap;
}

.statisticWrapper,
.infoStage {
  @media (max-width: 890px) {
    display: flex;
    flex-direction: column;
  }
}
