.categoryMain {
  width: 100%;
  filter: brightness(50%);
}
.imgWrap {
  height: 400px;
  overflow: hidden;
  position: relative;
}
.container {
  width: 100%;
}
.category_title {
  z-index: 10;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.description {
  z-index: 10;
  text-align: center;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1rem;
}

.search_wrap {
  z-index: 10;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  display: flex;
}
.searchBar {
  width: 70%;
  padding: 17px;
  border-radius: 3%;
  border: 0px;
}
.searchBar:focus {
  outline: none;
}
.searchBtn {
  border-radius: 3%;
  width: 30%;
  padding: 17px;
  border: 0px;
  background-color: #00c7ae;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
.searchBtn:hover {
  background-color: #00a18d;
}

@media (max-width: 760px) {
  .categoryMain {
    height: 600px;
  }

  .category_title {
    top: 30%;
    left: 50%;
  }

  .description {
    top: 40%;
    left: 50%;
  }
  .search_wrap {
    z-index: 10;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    flex-direction: column;
  }
  .searchBar {
    width: 100%;
    margin-bottom: 10px;
  }
  .searchBtn {
    width: 100%;
  }
}

@media (min-width: 761px) and (max-width: 990px) {
  .categoryMain {
    height: 600px;
  }

  .category_title {
    top: 30%;
    left: 50%;
  }

  .description {
    top: 40%;
    left: 50%;
  }
  .search_wrap {
    z-index: 10;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    flex-direction: column;
  }
  .searchBar {
    width: 100%;
    margin-bottom: 10px;
  }
  .searchBtn {
    width: 100%;
  }
}

@media (min-width: 991px) {
}
