body {
  background-color: #fafafa;
}

.root_container {
  text-align: center;
}
.box {
  background-color: white;
  width: 500px;
  //height: 600px;
  margin: 0px auto;
  box-shadow: 1px 1px 2px 1px lightgray;
  border-radius: 1%;
  padding: 30px;
  margin-top: 100px;
}
.progress_wrap {
  padding: 10px;
}
.progress_desc {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #808280;
}
.progress_div {
  display: flex;
  align-items: center;
}
.progressbar .progress {
  color: #fff;
  background-color: #02bcc3;
  border-radius: 28px;
  transition: width 800ms ease-in-out;
  transition-delay: 100ms;
  height: 100%;
}

.progressbar {
  width: 100%;
  height: 5px;
  border-radius: 28px;
  background-color: #a2a9b3;
}

.percent {
  margin-left: 10px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #02bcc3;
}
.step1_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.radio_div {
  display: flex;
  padding: 25px;
  border: 1px solid #f2f2f2;
}
.small_headline {
  margin-bottom: 15%;
}
.btn_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  //justify-content: flex-end;
}
.btn_right {
  color: white;
  border: 0px;
  border-radius: 10%;
  font-size: 1.2rem;
  width: 120px;
  padding: 15px;
  background-color: #02bcc3;
}
.btn_left {
  color: #02bcc3;
  border-radius: 10%;
  font-size: 1.2rem;
  width: 120px;
  padding: 15px;
  border: 1px solid #e1e1e1;
  background-color: white;
  margin-right: 20px;
}
.select_div {
  border: 1px solid #f2f2f2;
  margin-bottom: 35px;
}
.select_box {
  width: 100%;
  padding: 15px;
  border: 1px solid #f2f2f2;
  color: lightgray;
  font-size: 1rem;
  font-weight: bold;
}
.option_select {
  width: 150px;
  padding: 20px 20px 20px 0px;
  color: red;
}
.goso_container {
  margin: 0px auto;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 1000px;
  display: flex;
  flex-direction: column;
}
.goso_wrap {
  padding: 20px;
  display: flex;
}
.img_box {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5%;
  margin-right: 20px;
}
.text_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h4 {
    font-weight: 700;
  }
}
.goso_line {
  display: flex;
}
.recruit_box {
  padding: 3px;
  margin: 0px auto;
  font-size: 0.8em;
  background-color: #f2f2f2;
}
.price {
  font-size: 0.9em;
  font-weight: 100;
}
.text_line {
  border-radius: 10%;
  background-color: #f2f2f2;
  padding: 20px;
}
