@import '/src/styles/common.scss';

.container {
  position: sticky;
  top: 6.5rem;
  padding: 1.25rem;
  border: 0.0625rem solid #f2f2f2;
  border-radius: 12px;
  line-height: 1.5;

  @media (max-width: 760px) {
    border: none;
    .text {
      display: none;
    }
    .btnWrapper {
      width: 100%;
      position: fixed;
      padding: 1rem;
      bottom: 0;
      left: 0;
    }
  }

  .text {
    margin-bottom: 1rem;
  }

  .sendBtn {
    display: inline-block;
    width: 100%;
    padding: 0.6875rem 0.75rem;
    border-radius: 4px;
    border: 0.0625rem solid transparent;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background: $sign-color;
    cursor: pointer;
  }
}
