.masterImage {
  //   display: grid;
  //   grid-template-columns: repeat(5, 0fr);
  display: flex;
  flex-wrap: wrap;
}

.imageContainer {
  padding: 0 0.4375rem;
  margin-bottom: 0.9375rem;
}
.imageWrapper {
  width: 7rem;
  height: 7rem;
  border: 0.0625rem solid #f2f2f2;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}
.imageWrapper:hover {
  opacity: 0.6;
}
