$sign-color: #03c7ae; //시그니처 컬러 변수지정해서 사용하면 됩니다.

.dropDownWrapper {
  position: relative;
  display: inline-block;
  min-width: 110px;
  &:hover {
    .dropDownContent {
      display: block;
    }
    .arrowDownIcon {
      color: $sign-color !important;
    }
  }
  .dropDownBtn {
    display: flex;
    align-items: center;
    border: 0px;
    background-color: #ffff;
    cursor: pointer;
    font-size: 15px;
    span {
      font-size: 20px;
      font-weight: 500;
    }
    .arrowDownIcon {
      margin-left: 6px;
      color: #666;
    }
    &:hover {
      .arrowDownIcon {
        color: $sign-color;
      }
    }
  }
  .dropDownContent {
    display: none;
    position: absolute;
    min-width: 140px;
    height: 160px;
    overflow: scroll;
    z-index: 1;
    top: 25px;
    border: 1px solid #e2e2e2;
    background-color: #ffff;
    .dropDownItem {
      display: flex;
      padding: 10px 20px;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        background-color: #f5f5f594;
      }
      &:active {
        background-color: $sign-color;
        color: #ffff;
      }
    }
  }
}
