//Question
.questionBox {
  position: relative;
  width: 100%;
  min-height: 1.5rem;
  color: rgb(77, 77, 77);
  background: rgb(255, 255, 255);
  border-color: rgb(242, 242, 242);
  padding: 0.75rem 1rem;
  padding-left: 0px;
}

// MasterSignUpNext main
.section {
  display: flex;
  justify-content: center;
  background: #fafafa;
  padding: 5rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 37.5rem;
  margin: 3.125rem auto 7.6875rem;
  padding: 2.5rem;
  border-radius: 8px;
  border: 0.0625rem solid rgb(242, 242, 242);
  background: rgb(255, 255, 255);
}

.formTitle {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(53, 27, 27);
  line-height: normal;
  margin-bottom: 4.5rem;
}
