$sign-color: #03c7ae; //시그니처 컬러 변수지정해서 사용하면 됩니다.

.myInfoNameInput {
  text-align: right;
  input {
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    font-size: 15px;
    border: 0.5px solid #cecece9c;
  }
  input:focus {
    outline-color: $sign-color;
  }

  .textCounter {
    margin-top: 10px;
    font-size: 12px;

    span:nth-child(1) {
      color: $sign-color;
    }
    span:nth-child(2) {
      color: #b0b0b0;
    }
  }
}
