@media (max-width: 760px) {
  .masterList {
    width: 460px;
  }
}

@media (min-width: 761px) and (max-width: 990px) {
  .masterList {
    width: 600px;
  }
}

@media (min-width: 991px) {
  .masterList {
    width: 840px;
  }
}

.masterList {
  height: 100vh;
  padding-top: 90px;
  margin: 0 auto;
}
