@media (max-width: 690px) {
  .masterList {
    width: 460px;
  }
}

@media (min-width: 691px) and (max-width: 890px) {
  .masterList {
    width: 660px;
  }
}

@media (min-width: 891px) {
  .masterList {
    width: 840px;
  }
}

.masterList {
  height: 100vh;
  padding-top: 90px;
  margin: 0 auto;
}
