.container {
  width: 1000px;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}
.lesson {
  width: 80%;
}
.lesson:hover {
  background-color: #fafafa;
  transform: translateY(-0.1in);
  transition: all 0.4s;
}
.business {
  width: 80%;
}
.business:hover {
  background-color: #fafafa;
  transform: translateY(-0.1in);
  transition: all 0.4s;
}
.etc {
  width: 80%;
}
.etc:hover {
  background-color: #fafafa;
  transform: translateY(-0.1in);
  transition: all 0.4s;
}
.event {
  width: 80%;
}
.event:hover {
  background-color: #fafafa;
  transform: translateY(-0.1in);
  transition: all 0.4s;
}
.health {
  width: 80%;
}
.health:hover {
  background-color: #fafafa;
  transform: translateY(-0.1in);
  transition: all 0.4s;
}
.home {
  width: 80%;
}
.home:hover {
  background-color: #fafafa;
  transform: translateY(-0.1in);
  transition: all 0.4s;
}
.partTime {
  width: 80%;
}
.partTime:hover {
  background-color: #fafafa;
  transform: translateY(-0.1in);
  transition: all 0.4s;
}
.design {
  width: 80%;
}
.design:hover {
  background-color: #fafafa;
  transform: translateY(-0.1in);
  transition: all 0.4s;
}
