$slide-count: 3;
$slide-width: 22em; //15em;;

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.carouselComponent {
  width: 1000px;
  margin: 0px auto;
  margin-top: 90px;
}
.carouselWrap {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.carouselInner {
  height: 17rem;
  position: relative;
  width: calc(#{$slide-width * 4});
}

.carouselContainer {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carouselSlideList {
  height: 100%;
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-50%);
  width: calc(#{($slide-count + 1) * $slide-width * 2});
}

.carouselSlideItem {
  display: inline-block;
  margin: 0;
  padding: 1rem;
  position: absolute;
  transition: all 0.3s;
  width: 1000px; //$slide-width;
}

.carouselSlideItemImgLink {
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  left: -90px;
  width: 100%;

  img {
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
    width: 100%;
    object-position: 0px -30px;
  }
}

.carouselSlideItemBody {
  bottom: -2.5rem;
  height: 20%;
  position: absolute;

  h4 {
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }
  p {
    font-size: 0.9em;
    line-height: 1.3;
    margin: 0.7rem 0 0;
  }
}

.carouselBtn {
  align-items: center;
  background: 0;
  border: 0;
  cursor: pointer;
  background-color: #d0d3d9;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  opacity: 0.5;
}
.btnHide {
  opacity: 0;
}

.prev {
  left: 2rem;
  z-index: 10;
}

.next {
  right: 2rem;
  z-index: 10;
}

.hideBtn {
  pointer-events: none;
  opacity: 0;
}

.carouselBtnArrow {
  border: solid white;

  border-width: 0 0.2rem 0.2rem 0;
  height: 1rem;
  padding: 3px;
  width: 1rem;
  z-index: 10;
}

.left {
  //transform: rotate(135deg);
  transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
}

.slideTitle {
  font-weight: bold;
}

@media (max-width: 760px) {
}

@media (min-width: 761px) and (max-width: 990px) {
}

@media (min-width: 991px) {
}
