.categoryModalSearchList {
  li {
    display: flex;
    justify-content: space-between;
    padding: 12px 6px;
    border-bottom: 1px solid #eeeeee;
    cursor: pointer;
    list-style: none;
    &:hover {
      background-color: #eeeeee;
    }
    &::-webkit-details-marker {
      display: none;
    }
  }
}
.categoryModalSearchNotDefined {
  display: flex;
  flex-direction: column;
  align-items: center;
  span:nth-child(1) {
    font-weight: 600;
    padding-bottom: 10px;
  }
  span:nth-child(2) {
    font-size: 13px;
    color: #858585;
  }
}
