@media (max-width: 990px) {
  .modalMain {
    padding-top: 0px !important;
    .modalWrapper {
      width: 100% !important;
      height: 100%;
      border: 0px !important;
    }
  }
}

.modalMain {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .modalWrapper {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 360px;
    .modalCloseBtn {
      padding-bottom: 1.5rem;
      text-align: end;
    }
    .modalHeader {
      display: flex;
      padding-bottom: 1rem;

      h4 {
        padding-left: 4px;
      }
    }
    .modalContent {
      .modalSearch {
        display: flex;
        padding: 10px;
        margin-bottom: 1.5rem;
        align-items: center;
        border-radius: 6px;
        background-color: #eeeeee;
        input {
          padding-left: 6px;
          flex: 1;
          border: 0px;
          background-color: #eeeeee;
          &::placeholder {
            font-size: 12px;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .modalList {
        details {
          div {
            padding: 12px 20px;
            border-bottom: 1px solid #eeeeee;
            cursor: pointer;
            &:hover {
              background-color: #eeeeee;
            }
            span {
              padding-left: 4px;
            }
          }
        }
        ul li details summary {
          display: flex;
          justify-content: space-between;
          padding: 12px 6px;
          border-bottom: 1px solid #eeeeee;
          cursor: pointer;
          list-style: none;
          &:hover {
            background-color: #eeeeee;
          }
          &::-webkit-details-marker {
            display: none;
          }
        }
      }
    }
  }
}
.modalVisible {
  display: block;
}
