.dropDownMain {
  position: fixed;

  .dropDownWrapper {
    position: absolute;
    width: 130px;
    top: 30px;
    right: -60px;
    border: 1px solid rgb(191 191 191 / 17%);
    border-radius: 5px;
    background: white;
    box-shadow: 0px 0px 5px 3px rgb(191 191 191 / 17%);

    .dropDownHeader {
      padding: 20px;
    }

    .dropDownContent {
      font-size: 13px;

      ul {
        padding-bottom: 10px;
        li {
          padding: 8px 0px;
        }
      }
    }
  }
}

// .dropDownWrapper {
//   position: relative;
//   display: inline-block;
//   &:hover {
//     .dropDownContent {
//       display: block;
//     }
//   }
//   .dropDownBtn {
//     border: 0px;
//     background-color: #ffff;
//     cursor: pointer;
//     &:hover {
//       font-weight: 600;
//     }
//   }
//   .dropDownContent {
//     display: none;
//     position: absolute;
//     min-width: 140px;
//     border: 1px solid #e2e2e2;
//     z-index: 1;
//     right: 0px;
//     span {
//       padding: 6px 20px;
//       text-decoration: none;
//       display: block;
//       &:hover {
//         cursor: pointer;
//         background-color: #f5f5f594;
//       }
//       &:active {
//         color: #ffff;
//       }
//     }
//   }
// }
