.footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: white;
  border-top: 1px solid lightgray;
}

.infoBox {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  flex-direction: row;
  justify-content: space-between;
}

.contacts {
  padding: 20px;
  color: gray;
  font-size: small;
  line-height: 180%;
}

.gen {
  padding-bottom: 10px;
  color: #03c7ae;
  font-size: x-large;
  font-weight: 500;
}

.footerLink {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: white;
  color: gray;
  font-size: small;
}

.footerLink li {
  padding: 6px 20px;
  list-style: none;
}

.footerTitle {
  color: black;
  font-weight: 500;
}

.explanation {
  margin: 0 auto;
  width: 1000px;
  padding: 20px;
  color: gray;
}

.documents {
  display: flex;
  margin-bottom: 10px;
  font-size: small;
  font-weight: 600;
}

.documents li {
  margin-right: 20px;
}

.clickable {
  cursor: pointer;
}

.copyright {
  font-size: small;
  line-height: 150%;
}

.hiddenLine {
  display: hidden;
}

@media screen and (max-width: 990px) {
  .footer {
    width: 100vw;
    margin: 0 auto;
  }
  .infoBox {
    flex-direction: column;
    width: 100vw;
    text-align: center;
  }

  .contacts {
    margin: 0 auto;
  }

  .footerLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
  }

  .footerLink li {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .explanation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    text-align: center;
  }

  .hiddenLine {
    display: block;
    margin: 20px;
    width: 90vw;
    border-bottom: 1px solid lightgray;
  }
}
