@import '/src/styles/common.scss';

.FooterContainer {
  position: fixed;
  bottom: 0;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  padding: 0.375rem 0;
  border: 0.0625rem solid #f2f2f2;
  background: #fff;
  text-align: center;
}

.btnWrapper {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  //padding: 0 2rem 0 2.5rem;
  align-items: center;
}

.btnPrev,
.btnNext {
  all: unset;
  margin: 0.375rem 0.5rem;
  padding: 1rem 3rem;
  border: 0.0625rem solid #e1e1e1;
  border-radius: 0.25rem;

  font-size: 1rem;
  cursor: pointer;
}

.btnPrev {
  color: $sign-color;
}

.btnPrev:hover {
  color: #fff;
  background: $sign-color;
  opacity: 0.5;
}

.btnNext {
  background: $sign-color;
  color: #fff;
}

.btnNext:hover {
  filter: brightness(80%);
}
